
<app-navbar></app-navbar>
<div  id="outerdiv" class="col-sm-6 mx-auto container my-3">
    <div>
        <h3 style="background-color: aquamarine;text-transform:uppercase;"><B>{{blog.title}}</B></h3>
    </div>
<div class="card mb-3 bg-warning p-3">
    <p><B>Blog Content : {{blog.comment}}</B></p>
</div>
<h3>comments</h3>
<div *ngFor="let item of content" style="color:aqua background-attachment"> 
    <p>{{item.content}}</p>
</div>
<form class="container" [formGroup]="addComment">
    <div class="mb-3">
        <label for="comment" class="form-label">Add comment Here :</label>
        <textarea type="textarea" style="height: 150px;" class="form-control" id="Add comment Here"
          formControlName="content"></textarea>
        </div>
    <!-- <button type="submit" class="btn btn-primary" (click)= "OnSumbit()">Submit</button> -->

<button class="btn btn-primary" (click)= "OnSumbit() "><a [routerLink]="['blogs',blog.blog_id]"></a>Add Comment</button>
</form>

</div>